{% extends "base.html" %}
{% load leaflet_tags %}
{% load static %}
{% load webpage_extras %}

{% block title %}{{ object }}{% endblock %}
{% block scriptHeader %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock scriptHeader %}
{% block content %}
{% include 'archiv/partials/detailview_breadcrumb.html' %}
<div class="card w-100">
  <div class="card-header">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h1 class="text-center" style="color: white;">
          {{ object }}
        </h1>
        {% if user.is_authenticated %}
          <a href="{{ object.get_edit_url }}" title="edit" style="color: white;">
            <i class="bi bi-pencil-square"></i>
            <span class="visually-hidden">edit {{ object }}</span>
          </a>
        {% endif %}
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>
  <div class="card-body">
    {% block custom %}
    <legend style="color:black">Basic Information</legend>
    <div class="row">
        <div class="col-md-5">
            <table class="table table-responsive table-hover" style="text-align:left">
                {% if class_name == 'Analyse' and object.has_new_analyse %}
                <tr>
                  <td colspan="2"> <b style="color:red">Attention: old entry. You can find the new one <a href="{% url 'archiv:analyse_detail' object.new_analyse.id %}">here</a>.</b></td>
                 
                </tr>
                
                {% endif %}
              {% for x in object.field_dict %}
              {% if x.value and x.value != "None" %} <!-- Wenn keine Values zum Attribut vorhanden sind - nicht anzeigen-->
              {% if x.verbose_name != "images" and x.verbose_name != "Images_Quarry" and x.verbose_name != "Images_Analyse" and x.verbose_name != "Images_Artefact" and x.verbose_name != "Legacy ID" and x.verbose_name != "ID" and x.verbose_name != "Analyse_Project" and x.verbose_name != "Artefact_Project" and x.verbose_name != "Sample_Project" and x.verbose_name != "new analyse" %} <!-- Die einzelnen Einträge zu den Bildern nicht anzeigen-->
              {% if user.is_authenticated or object.oa or not x.extra_fields or x.extra_fields.is_public %} <!-- User ist eingeloggt oder der Datensatz ist Open Access -->
              <tr>
                <th>
                  {% if x.help_text %}
                  <abbr title="{{ x.help_text }}">{{ x.verbose_name }}</abbr>
                  {% else %}
                  {{ x.verbose_name }}
                  {% endif %}
                </th>
                <td>
                  {% if x.f_type == 'M2M' %}
                  {% for y in x.value %}
                  <ul>
                    <li>
                      <a href="{{ y.get_absolute_url }}">{{ y }}</a>
                    </li>
                  </ul>
                  {% endfor %}
                  {% elif  x.f_type == 'FK' %}
                  <a href="{{ x.value.get_absolute_url }}">{{ x.value }}</a>
                  {% elif  x.f_type == 'REVRESE_RELATION' %}
                  <details>
                    <summary>click to expand</summary>
                  {% for y in x.value %}
                  <li>
                    <a href="{{ y.get_absolute_url }}">{{ y }}</a>
                  </li>
                  {% endfor %}
                  </details>
                  {% elif  x.f_type == 'SIMPLE' %}
                  {% if x.verbose_name == "literature" or x.verbose_name == "identifier" %}
                  <a href="{{ x.value }}" target="_blank">{{ x.value }}</a>
                  {% else %}
                  {{ x.value }}
                  {% endif %}
                  {% endif %}
                  {% if x.verbose_name == "coordinates" and object.coords %}
               
                  <script type="text/javascript">

                    window.addEventListener("map:init", function (e) {
                            var detail = e.detail;

                            L.marker([{{object.coords.lat}}, {{object.coords.lon}}]).addTo(detail.map);

                            detail.map.setView([{{object.coords.lat}},{{object.coords.lon}}], 15);
                        }, false);
                  
                    
                  </script>
                  {% endif %}
                </td>
              </tr>
                {% endif %}
                {% endif %}
              {% endif %}
              {% endfor %}

          {% if object.get_images %}
          <tr>
            <th>Images</th>
            <td>
              <ul>
              {% for x in object.get_images %}
                <li>{{ x.description }}</li>
              {% endfor %}
              </ul>
            </td>
          </tr>
          {% endif %}
              
            </table>
            
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          {% if class_name == "Geography" %}
            {% leaflet_map "yourmap" callback="window.map_init_basic" %}
          {% endif %}

          <!-- Zeige Bilder an wenn User eingeloggt oder Open Access. Quarry Fotos immer anzeigen -->
          {% if user.is_authenticated or object.oa or class_name == "Quarry" %} 
          {% if object.get_images %}
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              {% for x in object.get_images %}
              {% if x.image_stream %}
              <div class="carousel-item {% if forloop.first %} active {% endif %}">
                <figure class="figure">
                <img src="/media/images/{{ x.image_stream }}" class="d-block w-100" alt="{{ x.description }}">
                <figcaption class="figure-caption">{{ x.description }}</figcaption>
                </figure>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          {% endif %}
          {% endif %}
      </div>

    </div>
    {% if user.is_authenticated %}
    <div class="card-footer" style="text-align: right;">
      <a href="{{ object.get_delete_url }}" title="delete">
        <i data-feather="delete"></i>
      </a>
    </div>
    {% endif %}

  </div>
</div>
{% endblock custom %}
{% endblock %}