html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: black;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    font-weight: initial;  
    background: #f7f7f7;
    padding: 2rem;
    padding-top:1rem;
    text-align: center;
}

label, table, #visualization {
    color: black;
}

p {
    color: #555;
    line-height: 1.6;
    font-size: 1rem;
}

h5 a {
    color:white;
}

a {
    color: rgb(155, 17, 30);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

header, footer {
    flex: 0 0 auto;
}
.main-content {
    flex: 1 0 auto;
}

footer {
    background-color: #f8f8f8;
    padding: 20px;
    width: 100%;
    margin-top: 30px;
}

.footer-logo {
    height: 100px;        
    width: auto;          
    margin: 0 15px;      
    object-fit: contain;  
}

.flex-caption {
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.78);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}
li.css a {
    border-radius: 0;
}

input[type="text"] {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Eingabefeld für die Suche */
.search-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc; 
    border-radius: 5px;  
    margin-right: 10px;  
    width: 800px;  
}

.results {
    text-align: left;
    margin-top: 2rem;
}

.dropdown-item {
  font-weight: normal;
  font-size: 1rem;
  color: #000; 
  padding: 0.5rem 1rem;
  text-decoration: none; 
  margin-top: 2px;
}

.dropdown-item:hover {
  background-color: #f8f9fa; 
  color: #000; 
  text-decoration: none; 
}

.oeai {
  color: red;
}

.model-name {
    font-weight: bold;
    margin-top: 1.5rem;
    font-size: 1.1rem;
}

.search-container {
    width: 100%;
    margin: 0px;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Button im Suchformular */
.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #9B111E;  /* Burgundroter Rand */
    background-color: #9B111E;  /* Burgundrot als Hintergrund */
    color: white;  /* Weißer Text */
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;  /* Abgerundete Ecken */
    transition: background-color 0.3s, color 0.3s;  /* Weicher Übergang */
}

/* Hover-Effekt für den Button */
.search-container button:hover {
    background-color: transparent;  /* Hintergrund transparent */
    color: #9B111E;  /* Burgundrote Textfarbe */
}

/* Optional: Anpassung für das Formular auf kleinen Bildschirmen */
@media (max-width: 768px) {
    .search-container input[type="text"] {
        width: 80%;  /* Breite anpassen */
    }
}

  /* mobile Bildschirme etwas kleiner */

@media (max-width: 768px) {

    /* Logos */
    #acdh-logo, #orea-logo { 
        width: 15%; 
    }
    #github-logo { 
        width: 7%; 
    }

    /* Cards */
    .card {
        margin-bottom: 20px;
    }
    .card-index {
        padding: 30px !important;
    }

    /* Typography */
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }

    /* Layout */
    .row {
        text-align: center;
    }

    /* Titles */
    .title-index {
        font-size: 200% !important;
    }

    /* Images */
    .postcard__img {
        width: 100%;
        height: auto;
    }

    /* Footer logos */
    .footer-logo {
        height: 100px;
    }
}

@media (min-width: 768px) and (max-width: 1105px) {
    .navbar-right {
        float: none !important;
    }
}

.navbar {
    border-bottom: 5px solid #9B111E;
}

.odd {
    background-color: rgb(255, 250, 237);
}

.btn {
    white-space: normal;
    margin-bottom: 10px;
}

.btn-default,
.btn-primary {
    background-color: #9B111E !important;
    color: white !important;
    border: 2px solid #9B111E !important;
    box-shadow: none !important;
}

.btn-primary {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #fbbf18ff;
    border: none;
}

.btn-primary:hover {
    background-color: #e0900eff;
}


.btn-index {
    margin-top: 5px;
    background-color: #fff;
    color: #254aa5;
    border: 3px solid #254aa5;
    font-weight: 800;
    padding: 0 40px;
    transition: box-shadow 0.6s linear;
}

.btn-index:hover {
    box-shadow: 0 0 0 2px #254aa5;
}

button:hover {
    background-color: #0056b3;
}

button {
    padding: 0.8rem 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0.5rem;
}

.btn-sm {
    color: #34495E;  
    border-color: #34495E;  
    text-transform: uppercase; 
    letter-spacing: 1px;  
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;  
}

.btn-sm:hover {
    background-color: #9B111E;  
    color: white;
    border-color: #9B111E;
}

.btn.btn-sm:active,
.btn.btn-sm:focus,
.btn.btn-sm:focus:active {
    background-color: #9B111E !important;
    color: white !important;
    border-color: #9B111E !important;
    box-shadow: none !important;
}

.btn-sm-download {
    background-color: #9B111E; 
    color: white; 
    text-transform: uppercase;  
    letter-spacing: 1px; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;  
}

.card {
    overflow: visible;
    border: 0 solid rgba(0,0,0,.125);
}

.site-page            { background-color: #84c054;     color: white; }
.archent-page         { background-color: #9FAEE5;     color: white; }
.researchevent-page   { background-color: #abd91a;     color: white; }
.monumentprotection-page { background-color: #fbbf18;  color: white; }

#acdh-logo,
#github-logo {
    height: auto;
    padding: 10px 0;
}
#acdh-logo { width: 25%; }
#github-logo { width: 10%; }

.card-index {
    padding: 80px;
    z-index: 1;
    margin-top: -80px;
}

.title-index {
    font-weight: 900;
    color: #254aa5;
    font-size: 350%;
}

.paragraph-index {
    font-weight: 900;
}

.hr-index {
    height: 4px;
    background: #254aa5;
    width: 40%;
    margin: 40px 0;
    border: 0;
}

.h2-index {
    color:#254aa5;
    font-weight: 800;
    text-align: center;
}

#yourmap {
    z-index: 0;
}

.special-index {
    padding: 30px;
    border-radius: 50%;
    background-color: #fbbf18;
    color: #fff;
    font-weight: 800;
    margin-left: -80px;
    margin-top: -450px;
    width: 10rem;
    height: 10rem;
    z-index: 2;
}

.tooltip-inner {
    background-color: #fff !important;
    color: #000;
    border: 1px solid #000;
    text-align: left;
}

.tooltip.top .tooltip-arrow    { border-top-color: #000; }
.tooltip.bottom .tooltip-arrow { border-bottom-color: #000; }
.tooltip.left .tooltip-arrow   { border-left-color: #000; }
.tooltip.right .tooltip-arrow  { border-right-color: #fff; }

.postcard {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #fff;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
}

.postcard.dark  { background-color: #18151f; }
.postcard.light { background-color: #e1e5ea; }

.postcard .postcard__title { font-size: 1.75rem; }
.postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
}
.postcard .postcard__text {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}
.postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

/* TAGBOX */
.postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
    background: rgba(83,83,83,0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
    background: rgba(83,83,83,0.8);
}

.postcard:hover .postcard__bar {
    width: 100px;
}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: nowrap;
    }
    .postcard .postcard__img {
        max-width: 300px;
        transition: transform 0.3s ease;
    }
    .postcard:hover .postcard__img {
        transform: scale(1.1);
    }
}

    /* Container für die Karten */
.artifact-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    padding: 20px;
}

/* Jede einzelne Karte */
.artifact-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;  /* Festgelegte Breite */
    transition: transform 0.3s ease-in-out;
}

.artifact-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header-artifact {
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #2D93A4;
}

.card-header-geo {
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #F5A623;
}

.card-header-institution {
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #7B4FA0;
}

.card-header-project {
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #4C9F70;
}

.card-header-quarry {
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #B05E27;
}     

.card-header-quarrygroup {
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #5C3D2E;
}     

.card-header-sample {
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #2E7D32;
}  
.card-header-number {
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #546E7A;
}  

.card-header-analyse {
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #00897B;
}         

.card-body {
    padding: 15px;
    height:100%;
    background-color: #fff;
    border: 1px solid #ddd;

}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 60px; 
    margin: 0;
}

.card-header {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #9B111E;
}

.card-body p {
    font-size: 0.95rem;
}

/* Untertitel (Findspot) */
.card-subtitle {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Anzahl der Zeilen, die angezeigt werden sollen */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.light {
    background-color: #f7f7f7;
}

.postcard__img {
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.postcard__img:hover {
    transform: scale(1.05); /* Image zoom effect on hover */
}

.container {
    max-width: 1140px; /* Max width for larger screens */
}

.btn-outline-orange {
    color:  #34495E; 
    border-color:  #34495E;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn-outline-orange:hover {
    background-color:  #9B111E;
    color: white;
}
/* Adjust layout for smaller screens */
@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
}



