{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}

<section class="light" style="color: black; padding-top: 20px;">
    <div class="container py-2">
        <div class="row">
            {% for x in objects %}
                <div class="col-md-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <div class="card-header bg-orange text-white">
                            <h5 class="card-title mb-0">{{ x.name }}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text" style="text-align: justify;">{{ x.description }}</p>
                            <p class="card-text">
                                <b>Contact:</b> {{ x.contact_name }} <br>
                                <a href="mailto:{{ x.contact_email }}">{{ x.contact_email }}</a>
                            </p>
                            <p><b>URL: </b><a href="{{ x.url }}" target="_blank">{{ x.url }}</a></p>
                            <p><a href="/archiv/sample/?open_access=unknown&project={{ x.id }}&Filter=Search" class="btn btn-outline-orange">Browse samples</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
