{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
    
<section class="light">
    <div class="container py-2">
        <div class="h1 text-center text-dark" id="pageHeaderTitle">{{ project.title }}</div>
        {% if project.subtitle %}
        <div class="h3 text-center text-dark" id="pageHeaderUnderTitle">{{ project.subtitle}}</div>    
        {% endif %}

        <article class="postcard light red">
            <div class="postcard__text t-dark">
                <h1 class="postcard__title red"><a href="#">Team</a></h1>
                <div class="postcard__subtitle small">
                </div>
                <div class="postcard__bar"></div>
                {% if objects %}
                {% for object in objects %}
                <div class="postcard__preview-txt">{{ object.name}}</div>
                    <div>
                        <h2>{{ object.name}}</h2>
                        <h3>{{ object.role }}</h3>
                        <p>
                            {{ object.description }}
                        </p>
                        <p>
                            <a href="{{ object.website}}">{{ object.website }}</a>
                        </p>
                    </div>
                {% endfor %}
            {% else %}
                <p>
                    No TeamMemeber objects have been created yet.
                    {% if user.is_authenticated %}
                        <strong>
                            go <a href="{% url 'infos:teammember_browse' %}">create</a> some
                        </strong>
                    {% endif %}
                </p>
            {% endif %}
                

            </div>
        </article>
    </div>
</section>

{% endblock %}