<!DOCTYPE html>
{% load static %}
{% load webpage_extras %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %} {% projects_metadata 'title' %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block metaDescription %}
        <meta name="description" content=""">
    {% endblock %}
    
    <!--favicons end -->
    <link rel="stylesheet" href="{% static 'webpage/css/style.css' %}" rel="stylesheet"/>
    <!-- css for image-slider -->
    <link rel="stylesheet" href="{% static 'webpage/css/flexslider.css' %}" rel="stylesheet"/>
    <style type="text/css">
        
      </style>
    <script>
      var _paq = window._paq = window._paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://matomo.acdh.oeaw.ac.at/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '176']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    {% block scriptHeader %}
    {% endblock %}
</head>
<body role="document" class="home contained fixed-nav" id="body">
    <div class="hfeed site" id="page">
        <div class="wrapper-fluid wrapper-navbar sticky-navbar" id="wrapper-navbar" itemscope="" itemtype="http://schema.org/WebSite">
            <a class="skip-link screen-reader-text sr-only" href="#content">Skip to content</a>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <!-- Your site title as branding in the menu -->
                    <a href="/" class="navbar-brand custom-logo-link" rel="home" itemprop="url">
                        <img src="{% static 'webpage/img/metrix_logo.png' %}" class="img-fluid" alt="{% projects_metadata 'title' %}" itemprop="{% projects_metadata 'title' %}"/>
                    </a><!-- end custom logo -->

                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <!-- Your menu goes here -->
                        <ul id="main-menu" class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
                                    <span class="caret"/>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'archiv:projects' %}">Projects</a>
                                        <a class="dropdown-item" href="{% url 'infos:contact' %}">Contact</a>
                                        <a class="dropdown-item" href="{% url 'webpage:staticpage' template='imprint' %}" target="_blank">Imprint</a>
                                    </div>
                                </li>
                                <li class="nav-item ">
                                    <a href="/explore/" class="nav-link" data-toggle="" role="button" aria-haspopup="true" aria-expanded="false">Explore Data
                                </li>                               
                                {% if request.user.is_superuser %}
                                <li class="nav-item dropdown">
                                    <span class="caret"/>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'archiv:ingest' %}">Data Import </a>
                                        <a class="dropdown-item" href="{% url 'archiv:task_overview' %}">Task Overview</a>  
                                    </div>
                                </li>
                                {% endif %}
                        </ul>
                        <ul class="navbar-nav justify-content-end">
                            {% if user.is_authenticated %}
                            <li class="nav-item dropdown ml-auto">
                                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    {{ user.get_username }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="nav-link" href="{% url 'webpage:user_logout' %}">log out <i class="feather-32" data-feather="log-out"></i></a>
                                    <a class="nav-link" href="{% url 'archiv:ingest' %}">CSV-Import <i class="feather-32" data-feather="Ingest"></i></a>
                                </div>
                            </li>
                            {% else %}
                            <li class="nav-item dropdown" style="padding-right:5%">
                                <a class="nav-link" href="{% url 'webpage:user_login' %}">
                                <i class="feather-32" data-feather="log-in"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                        <ul>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="oeai">oeai.</span><span style="color:black;">UNIVERSE</span>
                                    <span class="caret"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="https://oeaidam.oeaw.ac.at" target="_blank">
                                    <span class="oeai">oeai.</span>DAM
                                    </a>

                                    <a class="dropdown-item" href="https://oeaicoin.oeaw.ac.at" target="_blank">
                                    <span class="oeai">oeai.</span>COIN
                                    </a>

                                    <a class="dropdown-item" href="https://oeaimetrix.oeaw.ac.at" target="_blank">
                                    <span class="oeai">oeai.</span>METRIX
                                    </a>
                                    <a class="dropdown-item" href="https://www.oeaw.ac.at/oeai/oeaidigital/core-services/oeaithesaurus" target="_blank">
                                    <span class="oeai">oeai.</span>The-Saurus
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
                
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div class="wrapper fundament-default-footer" id="wrapper-footer-full">
            <div class="container-fluid" id="footer-full-content" tabindex="-1">
                <div class="row justify-content-md-center" style="text-align:center">
                <a href="https://www.fwf.ac.at" target="_blank">
                    <img src="{% static 'webpage/img/fwf_logo.png' %}" alt="FWF Logo" class="footer-logo"/>
                </a>
                <a href="https://www.oeaw.ac.at/oeai" target="_blank">
                    <img src="{% static 'webpage/img/oeai_logo.png' %}" alt="OEAI Logo" class="footer-logo"/>
                </a>
                <a href="https://www.oeaw.ac.at/acdh" target="_blank">
                    <img src="{% static 'webpage/img/acdh_logo.png' %}" alt="ACDH Logo" class="footer-logo"/>
                </a>
                </div>
            </div>
        </div>

        <div class="footer-imprint-bar" id="wrapper-footer-secondary" style="text-align:center; padding:0.4rem 0; font-size: 0.9rem;">
            <a href="{% url 'webpage:staticpage' template='imprint' %}" target="_blank">Impressum/Imprint</a>
        </div>
        {% block scripts %}
        {% endblock %}
        {% block scripts2 %}
        {% endblock scripts2 %}
    </body>
</html>
