{% extends "webpage/base.html" %}
{% load static %}
{% load stats_extras %}
{% load webpage_extras %}
{% block content %}
       
<section class="light" style="margin-top: 20px; padding-top: 40px;">
    <div class="container">
        <div class="row align-items-center">
            <!-- Left Column: Image -->
            <div class="col-md-5 mb-4 mb-md-0">
                <img class="postcard__img img-fluid rounded shadow-lg" 
                     src="{% static 'webpage/img/FWM0061_small.png' %}" 
                     alt="Image Title" />
                     Thracian horseman @ÖAW-ÖAI
            </div>
            <!-- Right Column: Text -->
            <div class="col-md-7" style="color: black;">
                <h2 class="display-4 font-weight-bold">
                    <span style="color: red;">oeai.</span>METRIX
                </h2>
                <h3 class="text-muted mb-4">Your Gateway to Archaeometric Data</h3>
                <p class="text-justify" style="font-size: 1.1rem;">
                    oeai.METRIX provides a structured and accessible platform for the documentation, analysis, and dissemination of archaeometric research data. 
                    The primary goals of oeai.METRIX are to support interdisciplinary archaeological science and to offer accurate, reliable datasets derived from a variety of analytical methods, including materials characterization and provenance studies. 
                    By employing controlled vocabularies and integrating visual resources from oeai.DAM, we ensure that the data is standardized, interoperable, and readily available for further research and comparative analysis.
                </p>
            </div>
        </div>
    </div>
</section>


{% endblock %}
